---
import CommonHeader from '@/components/CommonHeader.vue'
const { title, subtitle, description, githubURL } = Astro.props
---

<CommonHeader title={title} subtitle={subtitle} description={description} githubURL={githubURL} />
<main>
  <slot />
</main>

<style>
  main {
    width: 100%;
    height: 100%;
  }
</style>
